@page
@model MediPlat.RazorPage.Pages.Patients.IndexModel

@{
    ViewData["Title"] = "Index";
}


<h1>Index</h1>

<p>
    <a asp-page="Create" class="btn btn-sm btn-primary mx-1">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Patient)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Balance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary mx-1">Edit</a> 
                    <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-sm btn-warning mx-1">Details</a> 
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger mx-1">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
