@page
@model MediPlat.RazorPage.Pages.DoctorSubscriptions.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
@if (Model.DoctorSubscription != null && Model.DoctorSubscription.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.DoctorSubscription[0].EnableSlot)</th>
                <th>@Html.DisplayNameFor(model => model.DoctorSubscription[0].StartDate)</th>
                <th>@Html.DisplayNameFor(model => model.DoctorSubscription[0].EndDate)</th>
                <th>@Html.DisplayNameFor(model => model.DoctorSubscription[0].UpdateDate)</th>
                <th>@Html.DisplayNameFor(model => model.DoctorSubscription[0].Status)</th>
                <th>@Html.DisplayNameFor(model => model.DoctorSubscription[0].Doctor)</th>
                <th>@Html.DisplayNameFor(model => model.DoctorSubscription[0].Subscription)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.DoctorSubscription)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.EnableSlot)</td>
                    <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.EndDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.UpdateDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.Status)</td>
                    <td>@(item.Doctor != null ? item.Doctor.FullName : "N/A")</td>
                    <td>@(item.Subscription != null ? item.Subscription.Name : "N/A")</td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No Doctor Subscriptions available.</p>
}

