@page
@model MediPlat.RazorPage.Pages.Experiences.DetailsModel

@{
    ViewData["Title"] = "Experience Details";
}

<h1>Details</h1>

<div>
    <h4>Experience</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Experience.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Experience.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Experience.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Experience.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Experience.Certificate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Experience.Certificate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Experience.Doctor)
        </dt>
        <dd class="col-sm-10">
            @(Model.Experience.Doctor != null ? Model.Experience.Doctor.FullName : "N/A")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Experience.Specialty)
        </dt>
        <dd class="col-sm-10">
            @(Model.Experience.Specialty != null ? Model.Experience.Specialty.Name : "N/A")
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Experience.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
