@page
@model MediPlat.RazorPage.Pages.Subscriptions.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Subscription</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subscription.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subscription.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subscription.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subscription.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subscription.EnableSlot)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subscription.EnableSlot)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subscription.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subscription.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subscription.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subscription.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subscription.UpdateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subscription.UpdateDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Subscription.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
