@page
@model MediPlat.RazorPage.Pages.Slots.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Slot</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Slot.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Slot.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Slot.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Slot.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Slot.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Slot.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Slot.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Slot.EndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Slot.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Slot.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Slot.SessionFee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Slot.SessionFee)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Slot.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Slot.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Slot.Doctor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Slot.Doctor.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Slot.Service)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Slot.Service.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Slot.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
