@page
@model MediPlat.RazorPage.Pages.Slots.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="container mt-5">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white text-center">
            <h4>Appointment</h4>
        </div>
        <div class="card-body text-center">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Slot.Title)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Slot.Title)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Slot.Description)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Slot.Description)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Slot.StartTime)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Slot.StartTime)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Slot.EndTime)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Slot.EndTime)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Slot.Date)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Slot.Date)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Slot.SessionFee)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Slot.SessionFee)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Slot.Status)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Slot.Status)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Slot.Doctor)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Slot.Doctor.FullName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Slot.Service)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Slot.Service.Title)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Slot.Service.Specialty)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Slot.Service.Specialty.Name)
                </dd>
            </dl>
        </div>
    </div>
</div>

<hr />
<div class ="container mt-5">
    <form method="post">
        <input type="hidden" name="id" value="@Model.Slot.Id" />

        <div class="mb-3">
            <label for="ProfileId" class="form-label">Select Profile</label>
            <select name="ProfileId" class="form-control" required>
                <option value="">-- Choose a Profile --</option>
                @foreach (var profile in Model.Profiles)
                {
                    <option value="@profile.Id">@profile.FullName</option>
                }
            </select>
        </div>

        <button type="submit" class="btn btn-primary btn-sm mx-1">Confirm</button>
        <a asp-page="./Index" class="btn btn-sm btn-secondary mx-1">Return</a>
    </form>
</div>
